.watch {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.94);
  color: aliceblue;

  .watch-l {
    flex: 0.65;
    display: flex;
    justify-content: right;
    margin: 25px;
    width: 100%;
    height: 100%;
    // max-width: 850px;
    .watch-l-container {
      width: 870px;

      iframe {
        width: 100%;
        height: 480px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.65);

        &:hover {
          cursor: pointer;
        }
      }
      .watch-l-info {
        margin-top: 10px;
        .watch-l-info-c {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .watch-l-info-c-t {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            .watch-l-info-c-t-s {
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              span {
                font-size: 14px;
                color: gray;
              }
            }
            button {
              margin-left: 20px;
              height: 35px;
              width: 90px;
              border-radius: 20px;
              border: none;
              font-size: 15px;
              padding: 2px;
            }
          }
          .watch-l-info-c-m {
            button {
              margin-right: 10px;
              height: 35px;
              border-radius: 20px;
              border: none;
              font-size: 15px;
              padding: 10px;
              background-color: rgba(32, 32, 32, 0.87);
              color: white;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .watch-l-info-b {
          margin-top: 15px;
          background-color: rgba(32, 32, 32, 0.87);
          border-radius: 20px;
          padding: 15px;
          span {
            margin: 5px;
            font-weight: 600;
          }
          p {
            margin: 5px;
          }
        }
      }
      .watch-l-comment {
        margin-top: 15px;
      }
    }
  }

  .watch-r {
    flex: 0.35;
    margin: 20px 5px 0px 0px;
  }
}
@media screen and (max-width: 1305px) {
  .watch {
    .watch-l {
      .watch-l-container {
        width: 720px;
        iframe {
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .watch {
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    .watch-l {
      justify-content: center;
      margin: 20px 0px;
    }
    .watch-r {
      width: 720px;
      display: flex;

      // justify-content: center;
      // align-items: center;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 720px) {
  .watch {
    .watch-l {
      .watch-l-container {
        width: 520px;
        iframe {
          height: 320px;
        }
        .watch-l-info {
          h2 {
            font-size: 15px;
          }
          .watch-l-info-c {
            .watch-l-info-c-t {
              img {
                width: 30px;
                height: 30px;
              }
              button {
                margin-left: 10px;
                height: 25px;
                width: 60px;
                border-radius: 15px;
                border: none;
                font-size: 12px;
                padding: 1px;
              }
              .watch-l-info-c-t-s {
                h4 {
                  font-size: 12px;
                }
                span {
                  font-size: 10px;
                }
              }
            }
            .watch-l-info-c-m {
              button {
                margin-right: 5px;
                height: 25px;
                border-radius: 15px;
                border: none;
                font-size: 10px;
                padding: 3px;
                background-color: rgba(32, 32, 32, 0.87);
                color: white;
              }
            }
          }
        }
      }
    }

    .watch-r {
      width: 520px;
    }
  }
}

@media screen and (max-width: 520px) {
  .watch {
    .watch-l {
      .watch-l-container {
        width: 350px;
        iframe {
          height: 230px;
        }
      }
    }
    .watch-r {
      width: 350px;
    }
  }
}
